.input {
  width: 100%;
  resize: none;
  outline: none;
  height: 100px;
  border: 1px solid var(--greyD9);
  margin-bottom: -4px;
}

.input[aria-invalid] {
  border-color: red;
}

.form {
  margin-bottom: 35px;
}
